In [1]:
import pandas as pd
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

**1.How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)**

In [3]:
race_count = pd.Series(df["race"]).value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

**2.What is the average age of men?**

In [4]:
average_age_men = round(df[df["sex"] == "Male"]["age"].mean(),1)
average_age_men

39.4

**3.What is the percentage of people who have a Bachelor's degree?**

percentage = No.of val/Total no.of val * 100

In [5]:
percentage_bachelors = round(((df['education'] == 'Bachelors').sum() / len(df)) * 100, 1)
percentage_bachelors

16.4

In [6]:
a = (df['education']=='Bachelors').sum()
print(a) #Sum of bachelors
b = len(df)
print(b) #total
c = round(a/b*100,1)
print(c) #percentage

5355
32561
16.4

**4.What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?**

In [7]:
# Calculate the number of people with each higher education level
bachelors = df[df['education'] == 'Bachelors']
masters = df[df['education'] == 'Masters']
doctorates = df[df['education'] == 'Doctorate']

# Combine the dataframes for all higher education levels
higher_edu = pd.concat([bachelors, masters, doctorates])

# Calculate the percentage of people with higher education who earn >50K
higher_education_rich1 = round(((higher_edu['salary'] == '>50K').sum() / len(higher_edu)) * 100, 1)
higher_education_rich1

46.5

In [8]:
#simplified
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
higher_education_rich = round(((higher_education1['salary'] == '>50K').sum() / len(higher_education1)) * 100, 1)
higher_education_rich

46.5

**5.What percentage of people without advanced education make more than 50K?**

In [9]:
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education_rich = round(((lower_education['salary'] == '>50K').sum() / len(lower_education)) * 100, 1)
lower_education_rich

17.4

**6.What is the minimum number of hours a person works per week?**

In [10]:
hours = pd.Series(df['hours-per-week'])
min_work_hours = hours.min()
min_work_hours

1

**7.What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?**

In [11]:
min_hours = df[df['hours-per-week'] == min_work_hours]
rich_percentage = round(((min_hours['salary'] == '>50K').sum() / len(min_hours)) * 100, 1)
rich_percentage

10.0

**8.What country has the highest percentage of people that earn >50K and what is that percentage?**

In [14]:
highest_earning_country = (df.loc[df['salary'] == '>50K', 'native-country'].value_counts() / df['native-country'].value_counts()).idxmax()
highest_earning_country_percentage = round((df.loc[(df['native-country'] == highest_earning_country) & (
df['salary'] == '>50K')].shape[0] / df.loc[df['native-country'] == highest_earning_country].shape[0]) * 100, 1)
print(highest_earning_country)
print(highest_earning_country_percentage)

Iran
41.9

The idxmax( ) function is used to find the
index label corresponding to the maximum value in a Pandas Series or DataFrame.

For example, in a Series, it returns the index of the element with the highest value. In a DataFrame, when applied to a column, it returns the index of the row containing the maximum value for that column.

Shape[ ] is used to get number of rows/column in the dataframe. 0 - indicies no.of rows, 1 - indicies no.of column

In [20]:
#eg: idxmax()
c = df['native-country'].value_counts()
#print(c)
c = c.idxmax()
print(c)

United-States

**9.Identify the most popular occupation for those who earn >50K in India.**

In [41]:
india = df[df['native-country'] == 'India']
india_rich = india[india['salary'] == '>50K']
top_IN_occupation = india_rich['occupation'].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'